*{
    font-family: "Poppins", sans-serif;
}
    
body{
    background-color: white;
    margin: 3%;
}

.nav-bar{
  display: flex;
  flex-direction: column;
  color: black
  /*Your code here again.*/
}

.nav-bar a{
  color: black;
  text-decoration: none;
}

.nav-bar a:hover, a:focus{
  color: lightpink;
  text-decoration: wavy;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}

.nav-bar a:active{
    font-size: 1.25em;
    font-style: italic;
}

h1, h2, h3{
    font-family: "Raleway", sans-serif;
    color: black;
    text-align: center;
    font-size: 3em;
}

h2{
    font-size: 2em;
    text-align: left;
}

h3{
    font-size: 1.5em;
    text-align: left;
}

img{
    display: flex;
}


p{
   font size: 1em;
}

input:focus{
    border: 2px solid pink;

nav{
    color: white;
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
}
    
footer{
  width:100%;
  max-height: 100px;
  background-color:white;
  text-align:center;
  color: pink;
  position: fixed;
  bottom: 0px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 2;
  max-height: 50%;
  
  }


#1, #2, #3, #7, #8{
    display: flex;
        border: 3px solid grey;
    }
    
#4, #5, #6, #9, #10, #11{
    display: flex;
    border: 5px dotted lightgrey;
    }
    
gallery:hover {
  border: 1px solid #777;
    }

@media screen and (min-width: 700px){
    .gallery{
        width: 45%;
    
    }
    
@media screen and (min-width: 800px){
    .gallery{
        width: 30%;   
    }
    
