*{
    font-family: "Poppins", sans-serif;
}
    
body{
    background-color: white;
}

h1{
    font-family: "Raleway", sans-serif;
    color: black;
    text-align: center;
    font-size: 75%
}


p{
    display: flex;
}

.navbar{
    color: white;
    background-color: darkgrey;
    display: flex;
    flex-direction: column; 
}
    
footer{
  width:100%;
  max-height: 100px;
  background-color:#000000;
  text-align:center;
  color: #FFFFFF;
  position: fixed;
  bottom: 0px;
}

.gallery{
    display: flex;
    grid-template: auto;
    flex-direction: row;
    flex-wrap: wrap;
}


@media only screen and (max-width: 600px){
    
}
